{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>ZIKIME</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" href="{% static 'zikime/bootstrap/bootstrap.min.css' %}" media="screen">
    
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


</head>

<body>
    <style>
        @media (max-width:1200px){
            .login-wrap{width:80%}
         }
         @media (max-width:768px){
            .login-wrap{padding:50px}
         }
    </style>
    <div class="row">
        {%include 'zikime/navbar.html' %}
    </div>

    <!-- 기본 템플릿 안에 삽입될 내용 Start -->
    <div class="row-center" >
        {% block content %}
        {% endblock %}
    </div>
    <!-- 기본 템플릿 안에 삽입될 내용 End -->

</body>

    {%include 'zikime/footer.html' %}
</html>