{% extends 'zikime/base.html' %}

{% block content %}
<style>
  .detail-form-wrap {
    background-color: #f8f8f8;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px 10px
  }

  .detail-content {
    width: 70%;
    display: table;
    margin: 0 auto
  }

  .detail-title {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
  }
</style>

<div class="container">
  <div class="detail-title">
    'username'기기정보(보호자 / 안심지역)
  </div>


  <div class="detail-content">
    <nav>
      <ul class="pagination">
        <li>
          <span><a href="{% url 'detail' %}" ><p class=" text-dark">보호자</p><span class="sr-only"></span></a></span>
        </li>
        <li class="active">
          <span>
            <a href="{% url 'detail_area' %}">
              <p class="text-white">안심지역</p><span class="sr-only">(current)</span>
            </a>
          </span>
        </li>
      </ul>
    </nav>

    <div>
      <form mothod="POST" action="">
        <select name="district" id="district">
            <option value="">행정동 선택</option>
            {% if district_list %}
            {% for district in district_list %} 
              <option value="{{ district.id }}">{{district.country.city.name}} {{district.country.name}} {{ district.name }}</option>
            {% endfor %}
            {% endif %}
        </select>
        <button type="submit" class="btn btn-primary">추가하기</button>
    </form>
  <div class="detail-form-wrap">
    <table class="table">
      <thead>
          <tr class="thead-dark">
              <th>No.</th>
              <th>시</th>
              <th>구/군</th>
              <th>동/읍/면</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
        {% comment %} {% if guest_list %}
          {% for guest in guest_list %}
          <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ guest.username }}</td>
              <td>{{ guest.email }}</td>
              <th><button class="btn btn-warning"> 안심지역 삭제 </button></th>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td colspan="4">추가한 안심지역이 없습니다.</td>
            <th><button class="btn btn-warning"> 삭제 </button></th>
        </tr>
        {% endif %} {% endcomment %}
        <tr>
          <td colspan="4">추가한 안심지역이 없습니다.</td>
          <th><button class="btn btn-warning"> 삭제 </button></th>
      </tr>
      </tbody>
  </table>
  </div>
</div>
</div>


{% endblock %}