{% extends 'zikime/base.html' %}

{% block content %}
<style>
    .detail-form-wrap {
        background-color: #f8f8f8;
        border-radius: 20px;
        box-sizing: border-box;
        padding: 20px 10px
    }

    .detail-content {
        width: 70%;
        display: table;
        margin: 0 auto
    }

    .detail-title {
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 20px;
    }

    .modal-backdrop {
        z-index: -1
    }

    .protector-modal-title {
        font-weight: bold;
        font-size: 20px
    }
</style>

<div class="container">
    <div class="detail-title">
        {{ device.nickname }}기기정보(보호자 / 안심지역)
    </div>


    <div class="detail-content">
        <nav>
            <ul class="pagination">
                </li>
                <li class="active">
                    <span><a href="{% url 'detail' %}">
                            <p class="text-white">보호자</p><span class="sr-only">(current)</span>
                        </a></span>
                </li>
                <li>
                    <span><a href="{% url 'detail_area' %}">
                            <p class="text-dark">안심지역</p><span class="sr-only"></span>
                        </a></span>
                </li>
            </ul>
        </nav>
        <div class="container justify-content-right">
            <botton class="btn btn-primary mb-5" id="add" style="float:right" data-toggle="modal"
                data-target="#addProtector">보호자 추가하기</button>
        </div>

        <div class="detail-form-wrap">
            <table class="table">
                <thead>
                    <tr class="thead-dark">
                        <th>No.</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if guest_list %}
                    {% for guest in guest_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ guest.user.username }}</td>
                        <td>{{ guest.user.email }}</td>
                        <th><button class="btn btn-warning m-1"> 권한 양도 </button><button class="btn btn-danger"> <a href="/detail/delete_guest/{{ guest.user.id }}?next={{device.id}}">보호자삭제</a>
                            </button></th>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4">다른 보호자가 없습니다.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="addProtector" tabindex="-1" role="dialog" aria-labelledby="addProtectorLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addProtectorLabel">보호자 정보 입력</h4>
            </div>
            <div class="modal-body">
                <form action="/manage/detail/add_guest/?device_id={{ device.id }}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="protector-username" class="control-label">보호자 Username</label>
                        <input type="text" class="form-control" id="protector-username" name="protector-username">
                    </div>
                    <div class="form-group">
                        <label for="protector-email" class="control-label">보호자 Email</label>
                        <input type="email" class="form-control" id="protector-email" name="protector-email"></input>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                        <input type="submit" class="btn btn-primary" value="보호자추가등록"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





{% endblock %}