{% extends 'zikime/base.html' %}

{% block content %}
<style>
    .signup-form-wrap {
        background-color: #f8f8f8;
        border-radius: 20px;
        box-sizing: border-box;
        padding: 20px 10px;
    }

    .signup-content {
        width: 50%;
        display: table;
        margin: 0 auto
    }

    .signup-title {
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 20px;
    }
</style>

<div class="container">
    <div class="signup-content">
        <div class="row mt-5">
            <!--여백추가 mt-5-->
            <div class="signup-title">
                회원가입
            </div>
        </div>

        {# 변경 사항 있는지 확인 #}
        <div class="signup-form-wrap">
            <div class="col-12">
                <form action="" method="post">
                    {% csrf_token %}
                    {% comment %} <p><b>username</b></p>
                    {{form.username}}
                    <br><br>
                    <p><b>email</b></p>
                    {{form.email}}
                    <br><br>
                    <p><b>password</b></p>
                    {{form.password}}
                    <br><br>
                    <p><b>password confirm</b></p>
                    {{form.repassword}}
                    <br><br> {% endcomment %}
                    {{form.as_table}}
                    <input type="submit" class="btn btn-primary btn-block"value="회원가입">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}